/* Common */

body {
    
    /* Header */

    #header {
        width: 100%;
    }

    /* Main */

    #main {
        width: 100%;

        .fa-trash:hover {
            cursor: pointer;
        }

        img {
            width: 100px;
        }
    }

    /* Footer */

    #footer {
        width: 100%;
    }
}